.vscode

__pycache__
app.egg-info
*.pyc
.mypy_cache
.cache
.venv

.pytest_cache
.ruff_cache

terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform-provider-*
.terraform

.env
.secrets
